# Toolhead 0

[mcu nhk0]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/YOUR TOOLBOARD SERIAL HERE              #  T0

restart_method: command

[extruder]
step_pin: nhk0:gpio23
dir_pin: nhk0:gpio24
enable_pin: !nhk0:gpio25
rotation_distance: 22.85               #22.67895            # Sherpa Mini
gear_ratio: 50:10
microsteps: 32
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: nhk0:gpio9
max_extrude_only_distance: 1400       # Sherpa Mini
max_extrude_only_velocity: 75.0       # Sherpa Mini
max_extrude_only_accel: 1500          # Sherpa Mini
max_extrude_cross_section: 5
#sensor_type: Generic 3950
sensor_type: ATC Semitec 104NT-4-R025H42G
#sensor_type: ATC Semitec 104GT-2                  #Volcano, V6
sensor_pin: nhk0:gpio29
pullup_resistor: 2100  #2720
min_temp: 10
max_temp: 300
max_power: 0.7                            #Triangle Lab CHC Pro 115W
min_extrude_temp: 170
pressure_advance: 0.015
pressure_advance_smooth_time: 0.040

control: pid 
pid_kp=14.060
pid_ki=0.660
pid_kd=74.870

[tmc2209 extruder]
uart_pin: nhk0:gpio0
tx_pin: nhk0:gpio1
run_current: 0.5   #0.35             #Sherpa Mini

#[filament_switch_sensor filament_sensor]
#switch_pin: nhk0:gpio3
#pause_on_runout: True

[fan_generic T0_partfan]
pin: nhk0:gpio6
kick_start_time: 0.5
max_power: 1.0
off_below: 0.10

[heater_fan T0_hotend_fan]
pin: nhk0:gpio5
#tachometer_pin: nhk0:gpio16
#tachometer_ppr: 2
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 40.0
fan_speed: 1.0

[adxl345 T0]
cs_pin: nhk0:gpio27
spi_software_sclk_pin: nhk0:gpio18
spi_software_mosi_pin: nhk0:gpio20
spi_software_miso_pin: nhk0:gpio19
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345 T0
probe_points:
    175, 175, 50
max_smoothing: 0.1
move_speed: 100

[gcode_macro T0]
variable_color: ""
gcode:
  SAVE_GCODE_STATE NAME=move_up
  G91
  G0 Z5 F15000                   # Moves the toolhead up so that after the toolchange the nozzle does not end up touching the printed part. DOES NOT WORK WITH ORCA SLICER.
  RESTORE_GCODE_STATE NAME=move_up
  SELECT_TOOL T=0

[tool T0]
tool_number: 0
extruder: extruder
detection_pin: !nhk0:gpio3   #!nhk0:gpio13
fan: T0_partfan
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
# Position with the toolhead aligned with the dock
params_park_x: 0.0                       #your T0 toolhead park_x here
params_park_y: 0.0                       #your T0 toolhead park_y here
params_park_z: 0.0                       #your T0 toolhead park_x here

params_input_shaper_freq_x: 65.4
params_input_shaper_type_x: 'mzv'
params_input_shaper_damping_ratio_x: 0.10
params_input_shaper_freq_y: 73.6
params_input_shaper_type_y: '2hump_ei'
params_input_shaper_damping_ratio_y: 0.10

[tool_probe T0]
##	Klicky Probe
##	This probe is used for Z height and Quad Gantry Leveling
pin: nhk0:gpio10
tool: 0
x_offset: 0.0
y_offset: 20.0       # here comes the Y offset value between the nozzle and the Klicky-Probe microswitch trigger
z_offset: 0.0
speed: 5.2
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3
#activate_gcode:
#    _TAP_PROBE_ACTIVATE HEATER=extruder

#[neopixel headlight]
#pin: nhk0:gpio7

## PCB Activity Light
#[output_pin act_led]
#pin: !nhk0:gpio8    
