# A bunch of Macros

[gcode_macro UNSAFE_LOWER_GANTRY]
description: Lower the bed 100mm without homing
# DANGEROUS Macro. Please use with caution.
gcode:
  G90
  SET_KINEMATIC_POSITION Z=20
  G0 Z0 F600
  M84

[gcode_macro FILAMENT_LOAD]
description: Load filament
gcode:
  #M109 S{230} ;Wait for extruder to reach temp before proceeding
  G92 E0 ; Zero the extruder
  G1 E100 F240 ; Extrude 100mm of filament at a feedrate of (4mm/s)
  G92 E0 ; Zero the extruder
  G1 E80 F187.5 ; Extrude 50mm of filament at a feedrate of (3mm/s)
  G92 E0 ; Zero the extruder
  G4 P1000
  G1 E-15.0 F1500 ; Retract filament tip, must coincide with the amount of retraction in the "PRINT_END" macro
  G92 E0 ; Zero the extruder
  #M104 S0 ;Turn-off hotend

[gcode_macro FILAMENT_UNLOAD]
description: Unload filament
gcode:
  #M109 S{220} ;Wait for extruder to reach temp before proceeding
  #G92 E0 ; Zero the extruder
  #G1 E15 F350
  G92 E0 ; Zero the extruder
  G1 E-30 F1000
  G92 E0 ; Zero the extruder
  #G4 P1000
  G1 E-100 F500
  G92 E0 ; Zero the extruder
  #M104 S0 ;Turn-off hotend
