####################################################################
#  ToolChanger
####################################################################

[include Klipper-Toolchanger/toolchanger.cfg]
[include Klipper-Toolchanger/toolchanger-macros.cfg]

[include Toolheads/Toolhead_T0.cfg]
[include Toolheads/Toolhead_T1.cfg]
#[include Toolheads/Toolhead_T2.cfg]
#[include Toolheads/Toolhead_T3.cfg]
#[include Toolheads/Toolhead_T4.cfg]
#[include Toolheads/Toolhead_T5.cfg]

[include Klicky-Probe/klicky-probe.cfg]

####################################################################
#
####################################################################

[input_shaper]

[respond]

[pause_resume]

[rounded_path]
resolution: 0.2
replace_g0: False

[force_move] 
enable_force_move: true

[exclude_object]

[gcode_arcs]
resolution: 0.1




# the section bellow to be put at the end of the printer.cfg, where your macro section is
#####################################################################
# 	Macros
#####################################################################

[include My_MACROS.cfg]
[include prime_lines.cfg]

[gcode_macro G32]
description: For use with Klicky Probe setups
gcode:
    BED_MESH_CLEAR
    G28 x y
    Attach_Probe_Lock
    G28 z
    QUAD_GANTRY_LEVEL
    G28
    Dock_Probe_Unlock

[gcode_macro PRINT_START]
description: primary PRINT_START is in the slicer, this one just helps with tool heating and priming
gcode:    
    # Preheat all the hotends in use
    {% for tool_nr in printer.toolchanger.tool_numbers %}
      {% set tooltemp_param = 'T' ~ tool_nr|string ~ '_TEMP' %}
      {% if tooltemp_param in params %}
        M104 T{tool_nr} S{params[tooltemp_param]}
      {% endif %}
    {% endfor %}
  
    PRIME_LINES INITIAL_TOOL={params.TOOL}

[gcode_macro PRINT_END]
description: PRINT_END for KlickyChanger, may work for other toolchangers too
gcode:
    G92 E0                         ; zero the extruder
    G1 E-15.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z5 X20 Y20 F20000           ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off part cooling fan
    G90                            ; absolute positioning

# Parking the Tool
    {% set park_x = printer.configfile.settings.stepper_x.position_max/2 %}
    {% set park_y = printer['toolchanger'].params_safe_y %}
    {% if printer.gcode_move.gcode_position.z < 20 %}
        G0  X{park_x} Y{park_y} Z20 F7500   ; park nozzle
    {% else %}
        G0  X{park_x} Y{park_y} F7500
    {% endif %}

# Finishing Touches
    BED_MESH_CLEAR
    SET_VELOCITY_LIMIT ACCEL={printer.configfile.settings.printer.max_accel}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={printer.configfile.settings.printer.square_corner_velocity}
    SET_PRESSURE_ADVANCE ADVANCE=0
    SET_GCODE_OFFSET Z=0 MOVE=1
    M400                           ; wait for buffer to clear
    M220 S100                      ; restore speed factor override percentage
    M221 S100                      ; restore extrude factor override percentage
