# Example config to setup per-tool probing and tool detection.
# Used in per-tool-probe examples

[tool_probe_endstop]
  crash_gcode:
    RESPOND TYPE=error MSG='Tool not detected, expected {printer.toolchanger.tool_number}. Pausing the print.' 
    M84
    TURN_OFF_HEATERS

[gcode_macro _ADJUST_Z_HOME_FOR_TOOL_OFFSET]
gcode:
    {% set safe_z = printer["gcode_macro _User_Variables"].safe_z %}
    {% set tool = printer.toolchanger.tool %}
    {% if tool %}
       {% set tool_z_offset = printer[tool].gcode_z_offset %}
       {% set probe_z_offset = printer.tool_probe_endstop.active_tool_probe_z_offset %}
       SET_KINEMATIC_POSITION Z={safe_z+probe_z_offset|float}
    {% endif %}

[gcode_macro _APPLY_ACTIVE_TOOL_GCODE_OFFSETS]
gcode:
    ; Apply gcode offsets
    {% set tool = printer.toolchanger.tool %}
    {% if tool %}
      SET_GCODE_OFFSET X={printer[tool].gcode_x_offset} Y={printer[tool].gcode_y_offset} Z={printer[tool].gcode_z_offset}
    {% endif %}

[gcode_macro _INITIALIZE_FROM_DETECTED_TOOL]
gcode:
  SET_ACTIVE_TOOL_PROBE T={printer['toolchanger'].detected_tool_number}
  _INITIALIZE_FROM_DETECTED_TOOL_IMPL

[gcode_macro _INITIALIZE_FROM_DETECTED_TOOL_IMPL]
gcode:
  {% if printer['toolchanger'].detected_tool_number | int == -1 %}
    RESPOND TYPE=error MSG='Failed to detect active tool'
    PAUSE
  {% else %}
    { action_respond_info('initialize from detected tool')}
    INITIALIZE_TOOLCHANGER T={printer['toolchanger'].detected_tool_number}
  {% endif %}

# per tool probe is not yet integrated with toolchanger tool detection. This macro adds a stopgap.
[gcode_macro VERIFY_TOOL_DETECTED]
rename_existing: VERIFY_TOOL_DETECTED_ORIG
gcode:
    G4 P200
    SET_ACTIVE_TOOL_PROBE T={printer['toolchanger'].detected_tool_number}
    _STOP_IF_INCORRECT_TOOL {rawparams}

[gcode_macro _STOP_IF_INCORRECT_TOOL]
gcode:
    {% if T in params and printer['toolchanger'].detected_tool_number | int != params.T | int %}
       RESPOND TYPE=error MSG='Tool not detected, expected {params.T}. Pausing the print.'
       M112
    {% elif printer['toolchanger'].detected_tool_number | int == -1%}
       RESPOND TYPE=error MSG='No tool detected. Pausing the print.'
       M112
    {% endif %}